<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.segment.analytics.android.integrations.clevertap"

    android:versionCode="10400"
    android:versionName="1.4.0">
    <!-- note: this will be removed from android manifest.xml and moved to build.gradle file in upcoming releases  -->

    <application></application>

</manifest>