<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.segment.analytics.android.integrations.clevertap"

    android:versionCode="10110"
    android:versionName="1.1.10">

    <application>
        <receiver
            android:name="com.clevertap.android.sdk.CTPushNotificationReceiver"
            android:exported="false"
            android:enabled="true">
        </receiver>
    </application>

</manifest>